.officerList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border: 1px solid yellow;
    font-family: 'gotham';
}

table thead {
    background-color: rgb(231, 231, 17);
    color: black;
}

table thead tr th {
    padding: 6px;
    width: 12%;
}

table tbody tr td {
    padding: 6px;
    width: 12%;
    text-align: center;
    border: 1px solid rgb(231, 231, 17);
}